#home_brand {
	color: white;
}


.my-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


.my-color{
	background-color: #ab47bc
}


#icon-size {
	height: 50px;
	width: 50px;
}